<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physician Details</title>
    <link rel="stylesheet" href="physicianform.css">
</head>
<body>
    <section class="container">
        <header>Physician Information</header>
        <!-- <div class="profile-pic">
            <img src="/images/<%= user.profilePic %>" id="output" width="200" alt="Profile Picture"/>
        </div> -->
        <form class="form">
            <div class="columnA">
                <div class="input-box">
                    <label>First Name</label>
                    <input type="text" name="first_name" value="<%= user.firstName %>" readonly>
                </div>

                <div class="input-box">
                    <label>Last Name</label>
                    <input type="text" name="last_name" value="<%= user.lastName %>" readonly>
                </div>
            </div>

            <div class="columnB">
                <div class="input-box">
                    <label>DOB</label>
                    <% 
                        let dobString = '';
                        if (user.dob) {
                            const dob = new Date(user.dob);
                            dobString = dob.toISOString().substr(0, 10);
                        }
                    %>
                    <input type="date" name="dob" value="<%= dobString %>" readonly>
                </div>
                <div class="input-box">
                    <label>Contact Number</label>
                    <input type="text" name="contact_number" value="<%= user.contactNumber %>" readonly>
                </div>
            </div>

            <div class="gender-box">
                <h3>Gender</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="male" name="gender" value="Male" <%= user.gender === 'Male' ? 'checked' : '' %> disabled>
                        <label for="male">Male</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="female" name="gender" value="Female" <%= user.gender === 'Female' ? 'checked' : '' %> disabled>
                        <label for="female">Female</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="other" name="gender" value="Other" <%= user.gender === 'Other' ? 'checked' : '' %> disabled>
                        <label for="other">Other</label>
                    </div>
                </div>
            </div>

            <div class="input-box">
                <label for="address">Address</label>
                <textarea id="address" name="address" rows="4" cols="50" readonly><%= user.address %></textarea>
            </div>

            <div class="input-box">
                <label for="specialization">Specialization</label>
                <input type="text" name="specialization" id="specialization" value="<%= user.specialization %>" readonly>
            </div>

            <div class="input-box">
                <label for="experience">Experience (Years)</label>
                <input type="text" name="experience" id="experience" value="<%= user.experience %>" readonly>
            </div>

            <div class="input-box">
                <label for="available_days">Available Days</label>
                <input type="text" name="available_days" id="available_days" value="<%= user.availableDays %>" readonly>
            </div>

            <div class="columnF">
                <div class="input-box">
                    <label for="availability_start_time">Availability Starting Time</label>
                    <input type="time" name="availability_start_time" id="availability_start_time" value="<%= user.availabilityStartTime %>" readonly>
                </div>
                <div class="input-box">
                    <label for="availability_end_time">Availability Ending Time</label>
                    <input type="time" name="availability_end_time" id="availability_end_time" value="<%= user.availabilityEndTime %>" readonly>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
